body
{
  margin: 0;
  padding:0;
}
section
{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#262626;
  color:#fff;
}
section .content
{
  max-width: 80%;
}

section .content h2{
  position: relative;
  margin: 0;
  padding:0;
  display: inline-block;
  font-size: 3em;
  transition: 0.5s;
  transform-origin: left;
  transform: scaleX(0);
}
section .content h2[data-scroll="in"]
{
  transform: scaleX(1);
}
section .content h2:before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#e02bff;
  transform-origin: right;
  transition: 0.5s;
}
section .content h2[data-scroll="in"]:before
{
  transform: scaleX(0);
  transition-delay: 0.5s
}
section .content h3{
  position: relative;
  margin: 5px 0 0;
  padding:0;
  display: inline-block;
  font-size: 2em;
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
}
section .content h3[data-scroll="in"]
{
  transform: scaleX(1);
  transition-delay: 1s;
}

section .content h3:before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#ffeb3b;
  transform-origin: left;
  transition: 0.5s;
}
section .content h3[data-scroll="in"]:before
{
  transform: scaleX(0);
  transition-delay: 1.5s;
}
section .content p
{
  font-size: 1.2rem;
  transition: 1s;
  opacity: 0;
}
section .content p[data-scroll="in"]
{
  opacity: 1;
  transition-delay: 1s;

}
section .content a{
  position: relative;
  background:#fff;
  color:#26262626;
  padding-bottom: 15px 30px;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  transition: 1s;
  transform: translateX(100px);
  opacity: 0;
}
section .content p[data-scroll="in"]
{
  transform: translateX(0);
  transition-delay: 1s;
  opacity: 1;
}